@media (pointer: coarse) {
    #top-right-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
}

@media (min-width: 950px) and (max-height: 560px) {
    #game-footer-links-container {
        flex-direction: column;
        gap: 8px;
        bottom: auto;
        right: 8px;
        top: 8px;
    }
}

@media (max-width: 720px) {
    body {
        justify-content: flex-start;
    }
    h1 {
        margin-top: 42px;
    }
    canvas {
        width: 100%;
    }
    canvas, #loading-screen {
        border-radius: 0;
    }
    .credits-container {
        padding: 16px;
    }
}

@media (max-width: 560px) {
    #infos {
        font-size: 14px;
    }
}

@media (max-width: 488px) {
    #infos {
        font-size: 12px;
    }
    .control-button {
        width: 56px;
    }
}

@media (max-width: 440px) {
    #infos {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    #infos {
        font-size: 8px;
    }
}


@media (max-width: 480px) and (orientation: portrait) and (pointer: coarse) {
    #turn-device-screen {
        display: flex;
    }
}

@media (max-width: 440px) or (max-height: 300px) {
    #game-footer-links-container {
        flex-direction: column;
        gap: 8px;
    }
    :root {
        --spacing-between-buttons: 12px;
    }
    .control-button {
        width: 42px;
    }
}

@media (max-height: 660px) {
    h1 {
        display: none;
    }
}

@media (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    canvas, #loading-screen {
        border-radius: 0;
    }
    #infos {
        font-size: 14px;
    }
}

@media (max-height: 340px) {
    #infos {
        font-size: 12px;
    }
}